### Maven / Build
target/

### Eclipse / STS
.settings/
.classpath
.project

### OS
.DS_Store
Thumbs.db

### Spring sensitive config
src/main/resources/application.properties
src/main/resources/application-*.properties
